body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.container {
	flex: 1;
}

#nav-hide {
	transition: all 0.3s ease;
}

.card-product {
	border: none !important;
	box-shadow: none !important;
}

.card-product img:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	transition: all 0.3s ease;
}




