/* Wrapper Styles */

body {
  overflow-x: hidden;
  background-color: #f3f3f7;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  padding-top: 10px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  line-height: 35px;
}

.sidebar-nav-logo {
  text-align: center;
  padding: 25px 0;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #5f6368;
  padding-left: 10px;
  font-weight: 500;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  background-color: #e8f0fe;
  color: #2196F3;
}

.sidebar-nav li a i {
  min-width: 50px;
  text-align: center;
}

.sidebar-nav li ul {
  text-indent: 50px;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }

  #wrapper.toggled {
    padding-left: 250px;
  }

  #sidebar-wrapper {
    width: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }

  #page-content-wrapper {
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }

  #toggler {
    margin-right: 1rem;
  }
}

/* Custom Styles */

#nav-hide {
  transition: all 0.3s ease;
}

#toggler .navbar-toggler {
  display: initial !important;
}

#page-content-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#content {
  flex: 1;
}