html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 100px;
}

.footer {
	position: absolute;
	bottom: 0;
}

#nav-hide {
	transition: all 0.3s ease;
}

.card-product {
	border: none !important;
	box-shadow: none !important;
}

.card-product img:hover {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	transition: all 0.3s ease;
}

a {
	color: #222;
}




